* {
  padding: 0;
  margin: 0;
}
.wrapper {
  position: relative;
  width: 500px;
  line-height: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0;
}

.container {
  width: 400px;
  height: inherit;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  left: 0;
  height: inherit;
  width: auto;
}
.list.is-transition {
  transition: margin-left .3s;
}
.item {
  width:400px;
  height: inherit;
}
.img {
  width:inherit;
  height: inherit;
}
.prev,
.next {
  width: 50px;
  height: inherit;
  line-height: inherit;
  font-size: 20px;
  text-align: center;
}

.prev:hover,
.next:hover {
  background: #eee;
  cursor: pointer;
}